/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la pantalla */
  background-color: #f8f5f2; /* Un color de fondo base suave */
}

.main-content {
  flex-grow: 1; /* Permite que el contenido principal crezca y empuje el footer hacia abajo */
}
